# Importação das Bibliotecas 
Realizando o processo de import para todas as bibliotecas necessárias para rodar o notebook

In [6]:
import yfinance as yf
import pandas as pd

In [8]:
# get historical market data
df_bitcoin = yf.download(tickers="BTC-USD", period="5y", interval="1d")

df_bitcoin.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-09-20,10266.318359,10285.872070,10132.186523,10181.641602,10181.641602,14734189639
2019-09-21,10183.648438,10188.097656,10000.708008,10019.716797,10019.716797,13425266806
2019-09-22,10024.115234,10074.444336,9922.533203,10070.392578,10070.392578,13199651698
2019-09-23,10067.962891,10074.238281,9727.143555,9729.324219,9729.324219,15144925408
2019-09-24,9729.321289,9804.317383,8370.801758,8620.566406,8620.566406,25002886689

In [9]:
colunas = df_bitcoin.columns
print("Contagem de nulls por coluna: \n")
for coluna in colunas:
    print(f'{coluna}:{df_bitcoin[coluna].isna().sum()}')

Contagem de nulls por coluna:

Open:0
High:0
Low:0
Close:0
Adj Close:0
Volume:0

In [11]:
for coluna in colunas:
    df_bitcoin[coluna] = df_bitcoin[coluna].apply(lambda x: round(x, 2))
df_bitcoin.head()

                Open      High       Low     Close  Adj Close       Volume
Date
2019-09-20  10266.32  10285.87  10132.19  10181.64   10181.64  14734189639
2019-09-21  10183.65  10188.10  10000.71  10019.72   10019.72  13425266806
2019-09-22  10024.12  10074.44   9922.53  10070.39   10070.39  13199651698
2019-09-23  10067.96  10074.24   9727.14   9729.32    9729.32  15144925408
2019-09-24   9729.32   9804.32   8370.80   8620.57    8620.57  25002886689

In [ ]:
df_bitcoin["Variation"] = df_bitcoin["Close"].pct_change()